div{
    background-color: tomato;
    padding: 10px;
    box-shadow: blue;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: cornflowerblue;
    color:  whitesmoke;
}
.a{
    margin-bottom: 2%;
    text-decoration: underline blue;
    /* text-decoration: underline black; */
}